* {
    margin:0px;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
    overflow-x:hidden;
}
p {
    font-family: 'Open Sans', sans-serif;
}
nav a {
    text-decoration: none;
    color:#4A4A4A;
    -webkit-transition: 1s; /* Safari */
    transition: 1s;
    
}
nav a:hover {
    color: #FB89AD;
    text-decoration: none;
}
.img-responsive {
    width:100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito Sans', sans-serif;
}
nav {
    height:80px;
    max-width:1200px;
    background:#fff;
    margin:0 auto;
    padding: 0px 20px;
    position:relative;
}
nav img {
    max-height:40px;
    width: auto;
    margin-top:20px;
}
nav ul {
    float:right;
    padding-top: 25px;
}
nav li {
    list-style: none;
    float:left;
    margin-left:16px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight:600;
}
header {
    max-width: 1200px;
    max-height:600px;
    margin: 0 auto;
    text-align: center;
    overflow:hidden;
}
header h1 {
    text-align: center;
    color:#fff;
}
header h5 {
    letter-spacing: 5px;
    opacity: .75;
    color:#fff;
}
header img {
    max-width: 1200px;
    margin-top:-18px;
}
.header-text {
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    position: absolute;
    padding: 240px 20px 0px 20px;
}
section {
    max-width: 1200px;
    margin: 0 auto;
}
.projects-header {
    max-width:1200px;
    margin:0 auto;
    text-align: center;
    margin-top:80px;
    margin-bottom:48px;
}
.project-image {
    height:400px;
    width:100%;
    overflow: hidden;
    -webkit-transition: 1s; /* Safari */
    transition: 1s;
    border:10px solid #fff;
}
.project-image:hover {
    border:10px solid #FB89AD;
}
.project-image img {
    max-height:100%;
    margin:0 auto;  
    margin-left:0px;
}
.project-card{
    height:440px;
    background:#fff;
    padding:0px;
    margin-left:0px;
}
.project-description {
    margin-top:150px;
    height:100px;
    width:280px;
    text-align:center;
    padding:23px 0px;
    /*border: 2px solid #EFA686;*/
    -webkit-transition: 1s; /* Safari */
    transition: 1s;
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    rgba(0, 0, 0, 0.5);
    background:rgba(0, 0, 0, 0.5);
}
/*
.project-description:hover {
    border: 2px solid #FB89AD;
    cursor:pointer;
}
*/
.project-description h6 {
    color:#fff;
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
    letter-spacing: 5px;
    opacity: .75;
}
.project-description h4 {
    color:#fff;
    font-weight:600;
    font-family: 'Nunito Sans', sans-serif;
}
.project-description button {
    background:#EFA686;
    border:none;
    padding:10px;
    width:100%;
    color:#fff;
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: 1s; /* Safari */
    transition: 1s;
}
.project-description button:hover {
    background: #FB89AD;
}
.article-quote {
    max-width:960px;
    padding: 0px 20px;
    margin: 0 auto;
    text-align: center;
}
.article-quote h1 {
    font-weight:200;
    margin-top:80px;
    color:#EFA686;
    -webkit-transition: 1s; /* Safari */
    transition: 1s;
}
.article-quote h1:hover {
    color:#FB89AD;
}
.article-quote span {
    font-weight: 500;
}
article {
    max-width:960px;
    margin:0 auto;
    padding: 80px 20px;
}
article h5{
    color:#4A4A4A;
    letter-spacing: 5px;
    opacity: .75;
}
article p {
    color:#9B9B9B;
    font-weight:500;
}
article hr {
    margin:40px 0px;
}
.article-img {
    margin:80px 0px;
}


footer {
    width:100%;
    margin-top:80px;
    background:#4A4A4A;
    padding-top:80px;
    float:left;
    background: #fb89ad; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #fb89ad 0%, #efa686 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #fb89ad 0%,#efa686 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #fb89ad 0%,#efa686 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb89ad', endColorstr='#efa686',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.footer-contact {
    max-width:1200px;
    margin:0 auto;
    color: #fff;
    text-align: center;
}
.footer-social {
    margin:0 auto;
    padding-top:20px;
}
.footer-social .social-link{
    height:48px;
    width:48px;
    border-radius:24px;
    border:2px solid #fff;
    margin:0px 10px;
    padding: 10px 0px;
    color:#fff;
    margin-bottom:80px;
     -webkit-transition: 1s; /* Safari */
    transition: 1s;
}
.footer-social .social-link .fa {
     -webkit-transition: 1s; /* Safari */
    transition: 1s;
}
.footer-social .social-link:hover {
    background:#fff;
}
.footer-social .social-link:hover .fa {
    color:#EFA686;
}
.footer-social a {
    width:48px;
    display: inline-block;
    margin:0px 10px;
}
.legal {
    width:100%;
    padding:20px;
    background:#fff;
    text-align: center;
    float:left;
}
.legal p {
    color:#4A4A4A;
    margin-bottom: 0px;
}
@media screen and (max-width: 1200px) {
    header {
        width:100%;
        overflow: hidden;
    }
}

@media screen and (max-width: 600px) {
    nav ul {
        padding:28px 0px 0px 0px;
    }
    nav li {
        font-size:14px;
    }
    nav {
        padding: 0px 20px;
    }
    nav img {
        max-height:32px;
        margin-top:24px;
    }
    header img {
        float:right;
    }
}